<template>
  <article class="u-p-8 u-m-8 u-bg-indigo-darker u-text-white u-rounded-lg">
    <h3 class="u-py-2 u-mb-2">{{ pollingStation.polling_place_name }}</h3>
    <p class="u-mb-4"><span class="u-font-bold">
      Adresse: </span>{{ pollingStation.address_line }}, {{ pollingStation.postal_code }}
       {{ pollingStation.area}}
    </p>
    <h4 class="u-mb-2">Åpningstider</h4>
    <ul>
      <li v-for="(hour, index) in openingHours"
      :key="index">
        {{ hour.toString() }}
      </li>
    </ul>
    <p class="u-my-8">{{ pollingStation.info_text}}</p>
    <GmapMap
      :center="{
        lat: parseFloat(coordinates[0].toString()),
        lng: parseFloat(coordinates[1].toString())}"
      :zoom="15"
      map-type-id="terrain"
      style="width: 500px; height: 300px">
    </GmapMap>
  </article>
</template>

<script>
export default {
  name: 'PollingStation',
  props: {
    pollingStation: {
      type: [Object, Array],
      required: true,
    },
  },
  computed: {
    openingHours() {
      const str = this.pollingStation.opening_hours
        .split(',')
        .map(e => e.split(','));
      return str;
    },
    coordinates() {
      const str = this.pollingStation.gps_coordinates
        .split(',')
        .map(e => e.split(','));
      return str;
    },
  },
};
</script>

<style>

</style>
