<template>
  <div class="Valglokaler">
    <div v-if="getDataLoad">
      Laster lokaler, vennligst vent.
    </div>
    <div v-if="!getDataLoad">
      <div class="u-flex u-flex-row u-my-10 u-bg-indigo-lighter u-pb-6 u-rounded-lg">
        <div class="u-w-1/2 u-flex u-justify-center">
          <the-city-search></the-city-search>
        </div>
        <div class="u-w-1/2 u-flex u-justify-center">
          <the-postal-code-search></the-postal-code-search>
        </div>
      </div>
      <div class="u-bg-indigo-lightest u-p-8 u-rounded-lg u-shadow-md">
        <h2>Oversikt valglokaler:</h2>
        <TheResults></TheResults>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import TheCitySearch from '@/components/Search/TheCitySearch.vue';
import ThePostalCodeSearch from '@/components/Search/ThePostalCodeSearch.vue';
import TheResults from '@/components/Search/TheResults.vue';

export default {
  name: 'Valglokaler',
  components: {
    TheCitySearch,
    ThePostalCodeSearch,
    TheResults,
  },
  data() {
    return {
      isShow: true,
    };
  },
  computed: {
    ...mapGetters([
      'getDataLoad',
    ]),
  },
};
</script>

<style>
</style>
