<template>
  <section>
     <h2 class="u-cursor-pointer u-my-5">
      Søk på by eller stedsnavn
    </h2>

    <form>
      <app-auto-complete-input
        :list="citiesList"
        v-on:result="saveAreaName($event, 'area')"
        search-option="area">
        Hvor bor du hen?
      </app-auto-complete-input>
    </form>
  </section>
</template>

<script>
import AppAutoCompleteInput from '@/components/UI/AppAutoCompleteInput.vue';

export default {
  name: 'TheCitySearch',
  components: {
    AppAutoCompleteInput,
  },
  data() {
    return {
      citiesList: [],
    };
  },
  methods: {
    saveAreaName(result) {
      // Save results to store
      this.$store.dispatch('setSelectedAreaName', result);
      this.$store.dispatch('setSearchSource', 'Areas');
    },
  },
  created() {
    this.citiesList = this.$store.getters.getCitiesList;
  },
};
</script>
