<template>
  <section>
     <h2 class="u-cursor-pointer u-my-5">
      Søk på postnummer:
    </h2>

    <form>
      <app-auto-complete-input
        :list="postalCodesList"
        v-on:result="savePostalCode($event)"
        search-option="postalCode"
        secondaryOptionVal="pollingPlace">
        Hva er ditt postnummer?
      </app-auto-complete-input>
    </form>

  </section>
</template>

<script>
import AppAutoCompleteInput from '@/components/UI/AppAutoCompleteInput.vue';

export default {
  name: 'ThePostalCodeSearch',
  components: {
    AppAutoCompleteInput,
  },
  data() {
    return {
      postalCodesList: [],
    };
  },
  methods: {
    savePostalCode(result) {
      this.$store.dispatch('setSelectedPostalCode', result);
      this.$store.dispatch('setSearchSource', 'PostalCode');
    },
    saveAreaName(result) {
      this.$store.dispatch('setSelectedAreaName', result);
      this.$store.dispatch('setSearchSource', 'AreaName');
    },
  },
  created() {
    this.postalCodesList = this.$store.getters.getPostalCodesList;
  },
};
</script>
