<template>
 <section>
   <div v-if="getSearchSource === 'Areas'">
     <app-polling-station
      v-for="(area, key) in matchAreas"
      :key="key"
      :polling-station="area">
     </app-polling-station>
   </div>

   <div v-if="getSearchSource === 'PostalCode'">
     <app-polling-station
      v-for="(area, key) in matchPostalCode"
      :key="key"
      :polling-station="area" />
   </div>

 </section>
</template>

<script>
import { mapGetters } from 'vuex';
import PollingStation from '@/components/PollingStation/PollingStation.vue';

export default {
  name: 'TheResults',
  components: {
    appPollingStation: PollingStation,
  },
  data() {
    return {
      pollingStations: [],
    };
  },
  computed: {
    ...mapGetters(['getSearchSource']),
    matchAreas() {
      const searchString = this.$store.getters.getSelectedAreaName;
      return this.pollingStations.filter(
        pollingStation => pollingStation.area
          .toLowerCase()
          .indexOf(searchString.toLowerCase()) > -1,
      );
    },
    matchPostalCode() {
      const searchString = this.$store.getters.getSelectedPostalCode;
      return this.pollingStations.filter(
        pollingStation => pollingStation.postal_code
          .toString()
          .toLowerCase()
          .indexOf(searchString.toLowerCase()) > -1,
      );
    },
  },
  created() {
    this.pollingStations = this.$store.getters.getPollingStations;
  },
};
</script>

<style>
</style>
