<template>
  <div id="app">
    <header class="u-mb-10 u-py-8 u-text-center u-bg-indigo-darker">
      <h1 class="u-text-white">Finn nærmeste valglokale</h1>
    </header>
    <main class="u-flex u-mb-8">
      <div class="u-w-1/5" />
      <div class="u-w-3/5">
        <router-view></router-view>
      </div>
      <div class="u-w-1/5" />
    </main>
    <footer class="u-text-center u-bg-indigo-dark u-py-8">
      <h3 class="u-text-white">©2019 Pål Taule Brentebråten</h3>
    </footer>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  async created() {
    // Load page by page: 1.05s loadtime, 38 requests, 3,7 MB transferred, Finish: 2.33s
    // const pagedData = await axios.get('https://hotell.difi.no/api/json/valg/valglokaler/2017?');
    // console.log(pagedData.data);
    // for (let i = 1; i < pagedData.data.pages + 1; i++) {
    //   let pagedDataSets = await axios.get('https://hotell.difi.no/api/json/valg/valglokaler/2017?page=' + i);
    // }

    const fetchPollingStations = await axios.get('https://valglokaler-bc0f4.firebaseio.com/.json');

    // Save to store
    this.$store.dispatch('setPollingStations', fetchPollingStations.data);

    // Create a new array with postal numbers and area names for use in autocomplete componenet.
    const postalNumbersList = fetchPollingStations.data.map(element => ({
      postalCode: element.postal_code.toString(),
      area: element.area,
      pollingPlace: element.polling_place_name,
    }));

    // Save to store
    this.$store.dispatch('setPostalCodesLists', postalNumbersList);

    // Create a new array with unique cities, no duplicates
    const citiesList = fetchPollingStations.data.filter(
      (element, index, self) => self.findIndex(el => el.area === element.area) === index,
    );

    // Save to store
    this.$store.dispatch('setCitiesList', citiesList);

    // Finish loading
    this.$store.dispatch('setDataLoad', false);
  },
};
</script>
