<template>
  <div class="autocomplete">
    <app-controller-input
      v-model="search"
      @focus="showOptions('focus')"
      @blur="showOptions('blur')"
      type="text">
      <slot />
    </app-controller-input>
    <ul v-show="focused"
      class="autocomplete-results u-bg-white">
      <li
        v-for="(result, index) in filteredOptions.slice(0,5)"
        :key="index"
        @click="setResult(result)"
        class="autocomplete-result">
        {{ result[searchOption] }}
        <span v-if="secondaryOptionVal.length > 0">{{ result[secondaryOptionVal] }} </span>
      </li>
    </ul>
  </div>
</template>

<script>
import AppControllerInput from '@/components/UI/AppControllerInput.vue';

export default {
  name: 'AppAutoCompleteInput',
  components: {
    AppControllerInput,
  },
  props: {
    list: {
      type: Array,
      required: true,
    },
    searchOption: {
      type: String,
      required: true,
    },
    secondaryOptionVal: {
      type: String,
      required: false,
      default: '',
    },
  },
  data() {
    return {
      search: '',
      results: [],
      focused: false,
    };
  },
  computed: {
    filteredOptions() {
      return this.list.filter(
        val => val[this.searchOption].toLowerCase().indexOf(this.search.toLowerCase()) > -1,
      );
    },
  },
  methods: {
    showOptions(e) {
      if (e === 'focus') {
        this.focused = true;
      } else if (e === 'blur') {
        // Beacuse Blur fires before Click, delay the Blur event to register any click from user
        setTimeout(() => {
          this.focused = false;
        }, 150);
      }
    },
    setResult(result) {
      this.search = result[this.searchOption];
      this.$emit('result', this.search);
      this.focused = false;
    },
  },
};
</script>

<style scoped>
/* Classes by TailwindCSS: https://tailwindcss.com/docs/ */
/* Classes following the SUITS naming concention: https://github.com/suitcss/suit/blob/master/doc/naming-conventions.md */
.autocomplete {
  @apply u-relative;
  @apply u-w-64;
}

.autocomplete-results {
  @apply u-p-0;
  @apply u-m-0;
  @apply u-border;
  @apply u-border-solid;
  @apply u-border-grey-darker;
  @apply u-h-48;
  @apply u-rounded-b-lg;
  @apply u-overflow-auto;
}

.autocomplete-result {
  @apply u-list-reset;
  @apply u-py-4;
  @apply u-px-2;
  @apply u-cursor-pointer;
}

.autocomplete-result:hover {
  @apply bg-indigo;
}
</style>
