<template>
  <button
    :class="btnStyle"
    v-bind="$attrs"
    class="button"
    v-on="$listeners"><slot /></button>
</template>

<script>
export default {
  name: 'AppButton',
  props: {
    btnStyle: {
      type: String,
      default: '',
    },
  },
};
</script>

<style scoped>
/* Classes by TailwindCSS: https://tailwindcss.com/docs/ */
/* Classes following the SUITS naming concention: https://github.com/suitcss/suit/blob/master/doc/naming-conventions.md */
.button {
  @apply u-bg-blue;
  @apply u-text-white;
  @apply u-py-2;
  @apply u-px-4;
  @apply u-font-bold;
  @apply u-rounded;
  @apply u-cursor-pointer;
}

.button:hover,
.button:active {
  @apply u-bg-blue-dark;
  @apply u-text-grey-light;
}

.button:focus {
  @apply u-outline-none;
  @apply u-shadow-outline;
}

.primary {
  @apply u-bg-indigo-light;
}

.primary:hover,
.primary:active {
  @apply u-bg-indigo;
}

.cancel {
  @apply u-bg-red;
}

.cancel:hover,
.cancel:active {
  @apply u-bg-red-dark;
}
</style>
