<template>
  <div class="input-control">
    <label><slot />
      <input
        v-bind="$attrs"
        :value="value"
        @input="$emit('input', $event.target.value)"
        @focus="$emit('focus', $event.target.value)"
        @blur="$emit('blur', $event.target.value)">
    </label>
  </div>
</template>

<script>
export default {
  name: 'AppInputControl',
  props: {
    value: {
      type: String,
      default: '',
    },
  },
};
</script>

<style scoped>
/* Classes by TailwindCSS: https://tailwindcss.com/docs/ */
/* Classes following the SUITS naming concention: https://github.com/suitcss/suit/blob/master/doc/naming-conventions.md */
.input-control label {
  @apply u-block;
  @apply u-font-bold;
}

.input-control input {
  @apply u-block;
  @apply u-w-full;
  @apply u-shadow;
  @apply u-py-2;
  @apply u-px-3;
  @apply u-border;
  @apply u-rounded;
  @apply u-text-grey-darker;
  @apply u-leading-tight;
  @apply u-appearance-none;
}

.input-control input:focus  {
  @apply u-shadow-outline;
  @apply u-outline-none;
}
</style>
